/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 Jun, 2015, 3:02:22 PM
    Author     : Wilston
*/

#explore {
    width: 100%;
    
}

#header-mini {
    z-index: 4;
}

.hamburg {
    z-index: 5;
}

#div-left {
    width: 77%;
    float: left;
    height: 100%;
    position: fixed;
    z-index: 2;
    margin: 3vh 0 0 5vw;
}

#div-right {
    width: 20%;
    float: right;
    margin-top: 60px;
    padding: 13px 15px 0 15px;
}

#div-right ul {
    width: 95%;
}

#div-right ul li {
    display: block;
    width: 100%;
    text-align: center;
    margin: 5px 0;
    cursor: pointer;
}

#div-right ul li img {
    width: 100%;
}

#map_canvas {
    width: 100%;
    height: 84vh;
    z-index: 3;
}

#blackoverlay {
    //margin-top: 60px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, .61);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;

    z-index: -9;
}

#bg_image {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-image: url('https://static.pexels.com/photos/4439/city-art-graffiti-wall.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -10;
    filter: grayscale(1); /* Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}
