/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2-Jun-2015, 1:17:01 PM
    Author     : Ninja
*/

#bg_image {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('https://static.pexels.com/photos/4439/city-art-graffiti-wall.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -1;
}

#logo {
    
    position: absolute;
    width: 24vw;
    top: 45vh;
    left: 38vw;
    background-color: rgba(255, 255, 255, .93);
    text-align: center;

}

    #logo img {
        width: 100%;
    }

.container-fluid {
    position: relative;
    padding: 0;
    margin: 0;
}

header {
/*        width: 100vw;
        height: 100vw;*/

}

#trending {
    
}

    #trending ul {
        margin: 0;
        padding: 0;
    }
