/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2-Jun-2015, 1:17:01 PM
    Author     : Ninja
*/

#bg_image {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('https://static.pexels.com/photos/4439/city-art-graffiti-wall.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -1;
    border: 1px solid red;

}

#logo {
    
    position: absolute;
    top: 0%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, .93);

}

    #logo img {
        display: block;
        margin: 0 auto;
        margin-top: 45vh;
    }

.container-fluid {
    padding: 0;
    position: relative;
        border: 1px solid red;

}

header {
        border: 1px solid yellow;
/*        width: 100vw;
        height: 100vw;*/

}